<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
</head>
<body>
<div id="root"></div>
</body>
<script>
    document.write('<script src="/fileConfig/webpack.webassets.js?v=' + Math.random() + '"><\/script>');
</script>
<script>
    document.write('<link rel="stylesheet" type="text/css" href="/js/' + window.WEBPACK_ASSETS['login']['css'] + '"><\/link>');
    document.write('<script src="/public/serverasset/js/' + window.WEBPACK_ASSETS['react']['js'] + '"><\/script>');
    document.write('<script src="/js/' + window.WEBPACK_ASSETS['login']['js'] + '"><\/script>');
</script>
</html>