.Header{color:red;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.HomePage{color:#f90;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.baz{-ms-flex:1 1 0px;-webkit-box-flex:1;-webkit-flex:1 1 0px;flex:1 1}
